@font-face {
  font-family: "Lato";
  src: url("assets/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Light";
  src: url("assets/fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: thin;
  font-style: normal;
}

/* html {
  width: 1020px;
} */

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 10px;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

li {
  list-style: none;
}

/*header*/

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.holder {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

nav {
  padding-top: 7px;
  padding-left: 360px;
}

.logo {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.star {
  color: #ea676b;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation-menu__item {
  margin-left: 14px;
  color: #2c3445;
  font-weight: bold;
  font-size: 12px;
  list-style: none;
}

.navigation-menu__item:not(:first-child)::before {
  align-items: center;
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: currentColor;
  border-radius: 50%;
  margin-right: 11px;
  margin-bottom: 3px;
  letter-spacing: -0.9px;
}
.navigation-menu__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}
.active {
  color: #ea676b;
}
.navigation-menu__link:hover {
  color: #ea676b;
  cursor: pointer;
}

/*slider*/

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.slider-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px 1px 55px 3px;
}
.left-arrow {
  margin-left: 2px;
  z-index: 1;
}
.arrow_hover {
  cursor: pointer;
}

.arrow_hover:hover {
  background-color: white;
}
.horizontal-iphone {
  margin-left: 19px;
  margin-top: -1px;
}
.right-arrow {
  margin-left: 1px;
  transform: scaleX(-1);
}

.slider__phone-background-one {
  height: 333px;
  width: 188px;
  background-color: black;
  position: absolute;
  top: 212px;
  left: 257px;
}

.slider__phone-background-second {
  height: 188px;
  width: 335px;
  background-color: black;
  position: absolute;
  top: 282px;
  left: 616px;
}

.hidden {
  visibility: hidden;
}

.slider__phone_vertical-second {
  position: absolute;
  top: 65px;
  left: 15px;
}

.slider__phone_horizontal-second {
  position: absolute;
  top: 97px;
  left: 0px;
  background-color: #648bf0;
  width: 100%;
  height: 600px;
}

.slider__phone_horizontal-second > img {
  position: absolute;
  top: 0px;
  left: 128px;
}

/*services*/

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 46px 0 45px 0;
  color: #2c3445;
}
.services__title {
  font-size: 30px;
  font-weight: 900;
  margin: 17px 2px 20px 2px;
}
.services__description_main {
  margin-top: 20px;
  margin-bottom: 46px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 16px;
}
.layout-3-columns__services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 26px;
}
.services__element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.services__image {
  width: 59px;
  height: 59px;
  margin-top: 20px;
  margin-right: 20px;
}
.services__name {
  font-size: 18px;
  font-weight: 900;
  margin-left: 1px;
  margin-top: 14px;
  margin-bottom: -4px;
}
.services__description {
  line-height: 22px;
  max-width: 220px;
  max-height: 63px;
  text-align: justify;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

/*portfolio*/
.portfolio {
  background-color: #2d303a;
  padding-bottom: 48px;
  border-bottom: 6px solid #323746;
}
.portfolio__header {
  font-size: 31px;
  color: #666d89;
  font-weight: bold;
  text-align: left;
  margin: 0 0 0 10px;
  margin-left: 0;
  padding: 58px 0 0 0;
  letter-spacing: -0.03rem;
}

.portfolio__description {
  color: #666d89;
  font-family: "Lato Light";
  font-size: 1.1rem;
  font-weight: 100;
  margin-left: 0;
  margin-bottom: 0;
  line-height: 2.1;
  text-align: left;
  letter-spacing: -0.03rem;
  word-spacing: 2px;
}

.portfolio__description > p {
  margin: 16px 0 6px 0;
}
.portfolio__buttons {
  margin: 0 0 0 0;
  margin-left: 0;
  margin-bottom: 17px;
}

.button {
  font-family: "Lato Light";
  letter-spacing: -0.03rem;
  color: #666d89;
  padding: 2.5px 10px;
  margin-right: 4px;
  font-size: 10px;
  letter-spacing: -0.049rem;
  text-align: center;
  border-width: thin;
  border-color: #666d89;
  border-style: solid;
  border-radius: 5px;
  background: transparent;
}

.button_selected {
  padding: 2.5px 8px;
  margin-right: 7px;
  border-width: thin;
  border-color: #c5c5c5;
  color: #c5c5c5;
  border-style: solid;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.portfolio__buttons > button {
  outline: none;
}

.layout-4-columns {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.layout-4-columns > img {
  margin: 0 15px 16px 0;
}

.portfolio__item_active {
  outline: 5px solid #f06c64;
}

.portfolio__item:nth-child(n + 13) {
  display: none;
}

/*about-us*/
.about-us {
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: 6px solid #ffffff;
}

.about-us__header {
  padding: 52px 0 3px 0;
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}

.about-us__description {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.8;
  text-align: left;
  letter-spacing: -0.01rem;
  word-spacing: 2px;
}

.layout-3-columns__employees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.employee {
  padding: 0 20px 64px 0;
}

.employee:last-child {
  padding: 0 0 64px 0;
}

.employee__name {
  padding: 12px 0 10px 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 14px;
}
.employee__description {
  margin: 12px 0 28px 0;
  font-family: "Lato Light";
  line-height: 1.5;
  text-align: left;
  letter-spacing: -0.03rem;
  word-spacing: 3px;
  font-size: 11px;
}

.icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.icon {
  cursor: pointer;
  padding-right: 8px;
}

/*get a quote*/
.get-a-quote {
  background-color: #f06c64;
  color: #f0d8d9;
  border-bottom: 6px solid #ea676b;
}

.get-a-quote__content {
  padding-top: 35px;
  padding-bottom: 26px;
}

.get-a-quote__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.get-a-quote__text {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: -1.05px;
  word-spacing: 6px;
  font-weight: 300;
}

.layout-2-column {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  max-width: 1020px;
}

fieldset {
  padding: 0;
  margin-left: 0;
  border: 0 none;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 7px;
}

input {
  padding: 0;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0 none;
  width: 618px;
  height: 38px;
  color: #f48c8f;
  background-color: #d6564f;
}

input::placeholder {
  color: #f48c8f;
  padding-left: 10px;
}

textarea {
  font-size: 12px;
  font-family: "Lato";
  background-color: #d6564f;
  color: #f48c8f;
  overflow: auto;
  resize: none;
  width: 608px;
  height: 200px;
  border: 1px solid #d6564f;
  border-radius: 8px;
  padding: 0px 0 0px 10px;
}

textarea::placeholder {
  color: #f48c8f;
  padding: 10px;
  padding-left: 0;
}
.submit-button {
  width: 136px;
  height: 38px;
  margin: 10px 0px;
  background-color: #fbc65f;
  border: none;
  border-radius: 3px;
  color: #886a30;
}

.submit-button:hover {
  background-color: #ad4843;
}

#message-block {
  position: fixed;
  top: 20%;
  left: 20%;
  max-width: 70%;
  padding: 30px 40px;
  background: #0008;
  border-radius: 5px;
}

#message-block > p {
  color: #d6564f;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #ea676b;
  text-align: center;
}

.contact-info {
  max-width: 324px;
  margin: 15px;
  margin-top: 0px;
  margin-right: 0px;
}

.contact-info__title {
  font-size: 19px;
  margin: 0px;
}

.contact-info__text {
  margin: 0px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -1px;
  word-spacing: 8px;
  font-weight: 300;
  margin-bottom: 27px;
}
.contact-info__line {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.contact-info__line > img {
  width: 11px;
  height: 11px;
  margin-right: 5px;
  margin-left: 5px;
}

.contact-info__line > a {
  margin: 4px 0;
  color: #f0d8d9;
  text-decoration: none;
}

.contact-info__line > a:hover {
  text-decoration: underline;
}

/*footer*/
.footer {
  color: #666d89;
  background-color: #2d303a;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-list {
  margin: 22px;
}

.icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.icon {
  cursor: pointer;
  padding-right: 8px;
}

.icon:hover {
  background-color: #ea676b;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .body {
    width: 768px;
  }
  .wrapper {
    max-width: 728px;
    margin: 0 40px;
  }

  nav {
    padding-right: 40px;
    padding-left: 140px;
  }

  .slider__wrapper {
    margin: 0;
    width: 100%;
  }

  .slider-items {
    justify-content: stretch;
    padding: 0;
    max-width: 768px;
  }
  .vertical-iphone {
    transform: scale(0.77);
  }
  .horizontal-iphone {
    transform: scale(0.77);
    margin: 0;
  }

  .portfolio__items {
    max-width: 768px;
  }

  .about-us__description {
    max-width: 700px;
  }
  .layout-3-columns__employees {
    justify-content: stretch;
  }
  .employee {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
  .employee > img {
    width: 219px;
    height: 219px;
    margin: 0;
  }
  .employee {
    max-width: 219px;
    margin-right: 14.5px;
  }

  .employee__description {
    max-width: 219px;
  }
  .get-a-quote__text {
    max-width: 689px;
  }

  .layout-2-column {
    flex-wrap: wrap;
  }

  .contact-info__text {
    max-width: 221px;
  }

  input {
    max-width: 442px;
  }
  textarea {
    max-width: 431px;
  }
}

@media (max-width: 414px) {
  .body {
    max-width: 375px;
  }

  .wrapper {
    margin: 0 20px;
  }

  .header-container {
    max-width: 355px;
    padding: 5px 0;
    justify-content: space-between;
  }

  .header__wrapper {
    max-width: 355px;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    letter-spacing: -0.82px;
    z-index: 5;
  }

  .header-burger {
    position: relative;
    width: 30px;
    height: 20px;
    transition: all 0.5s ease;
    z-index: 5;
    margin-right: 103px;
  }
  .header-burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 15px;
    top: 9px;
    z-index: 5;
  }
  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: white;
    border-radius: 15px;
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    z-index: 5;
  }
  .header-burger::before {
    top: 1px;
  }
  .header-burger::after {
    bottom: 0;
  }
  nav {
    padding-left: 0;
    position: fixed;
    left: -100%;
    top: 0;
    max-width: 278px;
    height: 100%;
    background-color: #2d303a;
    display: block;
    margin: 0;
    transition: all 0.5s ease;
  }
  .navigation-menu {
    display: block;
    margin-top: 155px;
    margin-left: 71px;
  }
  .navigation-menu > li {
    display: block;
    margin-top: 15px;
    font-size: 18px;
  }
  .navigation-menu > li:first-child {
    margin-left: 28px;
  }

  li:not(:last-child)::after {
    content: "";
  }

  .header-burger.burger-active {
    transform: rotate(90deg);
    z-index: 5;
  }
  nav.burger-active {
    left: 0;
    z-index: 4;
    width: 278px;
  }
  body.lock {
    overflow: hidden;
  }
  .logo-burger {
    justify-content: start;
  }
  .shadow::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d303a;
    opacity: 0.6;
    z-index: -1;
  }

  .slider-items {
    max-height: 220px;
    padding: 0;
    max-width: 355px;
  }

  .slider__wrapper {
    max-width: 355px;
  }

  .vertical-iphone {
    transform: scale(0.37);
    margin-left: -70px;
  }
  .horizontal-iphone {
    transform: scale(0.37);
    margin-left: -200px;
  }
  .right-arrow {
    margin-left: -150px;
  }
  .layout-4-columns > img {
    margin: 0 5px 5px 0;
  }

  .portfolio__items > img {
    width: 48%;
  }

  .portfolio__wrapper {
    max-width: 335px;
  }

  .about-us__wrapper {
    max-width: 335px;
  }
  .layout-3-columns__employees {
    display: block;
  }
  .employee {
    margin-bottom: 34px;
    margin-left: 10px;
  }
  .employee > img {
    width: 315px;
    height: 315px;
  }

  .employee:last-child {
    padding: 0;
  }

  .employee__description {
    max-width: 100%;
  }
  .contact-us__wrapper {
    max-width: 335px;
  }
  input {
    max-width: 329px;
    margin-bottom: 0;
  }

  textarea {
    max-width: 318px;
  }

  .submit-button {
    width: 330px;
  }
  .contact-info__text {
    max-width: 100%;
  }
  .footer-wrapper {
    max-width: 335px;
  }
}
